*, body, a {
    font-family: 'Noto Sans';
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: black;
    width: 1280px;
    margin: auto;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Condensed';
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}
nav.nav-top {
    line-height: 0.6em;
    margin-bottom: 50px;
}
nav.nav-top ul {
    display: flex;
    justify-content: center;
}
nav.nav-top a {
    display: block;
    padding: 1.1em 2em 1em;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Roboto Condensed';
}
nav.nav-top li {
    display: block;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: grey;
}
nav.nav-top ul li:last-child {
    border-width: 0;
}
nav.nav-top ul li:hover > a,
nav.nav-top ul li:focus > a,
nav.nav-top ul li:active > a {
    color: silver;
}
#output {
    max-width: 100%;
}
form > div {
    float: left;
}
table.stock tr:nth-child(even) td {
    border: 1px dotted grey;
    border-left: none;
    border-right: none;
}
table.stock td {
    padding: 2px 2px;
}
#output,
#output2,
#output table,
#output2 table {
    font-size:1.3em;
}
#output2,
#output2 table {
    font-size:1.05em;
}
#output2 table {
    width: 100%;
}
#output2 table h1 {
    font-size: 1.2em;
}
#output table.stock {
    width: 60%;
    float: left;
}
#output table.stock th:nth-child(1),
#output table.stock td:nth-child(1),
#output table.stock th:nth-child(3),
#output table.stock td:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 205px;
    max-width: 205px;
}
#output table.stock th:nth-child(1) {
    min-width: 185px;
    max-width: 185px;
}
#output table.stock th:nth-child(2) {
    min-width: 80px;
    max-width: 80px;
}
#output table.stock th:nth-child(3) {
    min-width: 160px;
    max-width: 160px;
}
#output table.stock th:nth-child(4) {
    min-width: 130px;
    max-width: 130px;
}
#output table.stock th:nth-child(3),
#output table.stock td:nth-child(3) {
    min-width: 300px;
    max-width: 300px;
}
#output table.stock td:nth-child(2),
#output table.stock td:nth-child(5)
{
    text-align: center;
}
#output table.stock td:nth-child(4) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 160px;
    max-width: 160px;
}
#output table.stock {
    margin-top: -45px;
}
#output2 {
    float: right;
    width: 35%;
    margin: -75px 10px 0 0;
}
table.stock th {
    background-color: brown;
    color: antiquewhite;
    padding: 2px 0 5px;
    font-style: italic;
    letter-spacing: 1px;
}
#output2 table th {
    border-bottom: 1px dotted grey;
    background-color: brown;
    color: antiquewhite;
    padding: 2px 2px 0 5px;
    font-style: italic;
    letter-spacing: 1px;
}
#output2 table tr:nth-child(2) th,
#output2 table tr:nth-child(3) td {
    text-align: center;
    max-width: 20%;
    min-width: 20%;
}
#output fieldset legend {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 0;
    margin-left: 0;
    margin-top: -50px;
}
#dialog-form div.form-check-inline input.form-check-input,
#output div.form-check-inline input.form-check-input {
    margin: 2px;
    padding: 0;
    opacity: 0;
}
#dialog-form div.form-check-inline label,
#output div.form-check-inline label {
    margin: 0px;
    padding: 3px 5px;
}
.form-control:focus {
    color: white;
}
#output table.stock:first-of-type {
    width: 773px;
    display: block;
}
#output table.stock:last-of-type {
    position: fixed;
    bottom: 20px;
    top: 150px;
    width: 773px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}
#output2 table.stock_info:first-of-type {
    margin-top: 30px;
}
#output2 table.stock_info:last-of-type {
    position: fixed;
    bottom: 20px;
    top: 360px;
    width: 438px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}
#output2 table.stock_info:last-of-type td{
    min-width: 35%;
    max-width: 35%;
    text-align: left;
}
#output2 table.stock_info:last-of-type td:nth-child(2){
    min-width: 20%;
    max-width: 20%;
    text-align: right;
    padding-right: 15px;
}
#output2 table:nth-child(1) tr:nth-child(4) td {
    color: lime;
    font-weight: bold;
    text-align: center;
}
#output2 table:nth-child(1) tr:nth-child(2) td {
    height: 150px;
    vertical-align: top;
    padding: 5px;
}
div.action-buttons {
    text-align: right;
    margin-top: 200px;
}
div.stats table {
    border-right: 5px solid brown;
}
div.stats h2 {
    font-size: 1em;
    background-color: brown;
    color: antiquewhite;
    padding: 5px;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: -2px;
}
div.stats td {
    border-bottom: 1px dotted grey;
    font-size: 0.8em;
}
div.stats div {
    float: left;
    display: block;
    margin: -40px 5px;
}
div.stats div:nth-child(2) {
    margin-bottom: 1px;
}
div.stats div:nth-child(1) td:nth-child(2) {
    text-align: right;
}
div.stats div:first-child table:nth-child(2) tr:last-child td:nth-child(1) {
    font-weight: bold;
}
div.stats div:nth-child(2) td:nth-child(1),
div.stats div:nth-child(2) td:nth-child(2),
div.stats div:nth-child(2) td:nth-child(3),
div.stats div:nth-child(3) td:nth-child(1),
div.stats div:nth-child(3) td:nth-child(2),
div.stats div:nth-child(3) td:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 175px;
    max-width: 175px;
}
div.stats div:nth-child(2) td:nth-child(3),
div.stats div:nth-child(3) td:nth-child(3) {
    min-width: 140px;
    max-width: 140px;
}
*:focus {
    outline: none;
}
button.ui-dialog-titlebar-close:focus {
    outline: none;
}
#dialog-form input[type=text],
#dialog-form textarea {
    width: 103%;
}
#dialog-form #filter-country {
    width: 23%;
    margin-right: 12px;
}
#dialog-form #filter-style {
    width: 75%;
    margin-right: -15px;
}
#dialog-form input[type=date] {
    width: 108%;
}
#dialog-form label {
    padding-top: 0px;
}
.ui-autocomplete {
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-slider-handle{
    width: 35px !important;
    line-height: 0.8em !important;
    height: 1.5em !important;
    padding-top: 0.3em;
    color: #FFFFFF !important;
    text-align: center !important;
}
#dialog-form fieldset {
    padding: 0;
    margin: 0 0 0 0;
}
